body {
    text-align: center;
}

.columns {
    border: solid 1px black;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0;
}

.container {
    margin: 0;
}

.rows {
    margin: -4px 0;
}

button {
    margin: 10px 8px 20px 0;
}
